body{
    font-family: Arial ;
    background: linear-gradient(to right, #ff9a9e, #fecfef);
    text-align: center;
    margin-top: 100px;
}

.box{
    background-color: #ffffff;
    padding: 25px;
    width: 320px;
    margin: auto;
    border-radius: 12px;
    
}
h2{
    color: #d63384;

}

input{
    width: 85%;
    padding: 10px;
    border: 1px solid #ff85c1;
    border-radius: 6px;
}

button{
    padding: 10px 18px;
    background-color: #ff4da6;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: #cc0066;
}
header{
    background-color: deeppink;
    text-align: center;
    color: white;
}

footer{
    background-color: deeppink;
    text-align: center;
    color: white;
}

